/*
    Document   : index.css
    Created on : 2013-1-31, 14:50:04
    Author     : Lincong <lincong1987@gmail.com>
    Description:
        modal-index-css
*/

#slider a {
    display:block;
}

#modal-index-slider, .slides_container {
    width: 797px;
    height: 210px;
    margin: 0;
}
.slider-control {
    margin:26px auto 0;
    width:100px;
    position: absolute;
    margin: -30px 0 0 720px;
}

.slider-control li {
    float:left;
    margin:0 1px;
    list-style:none;
}

.slider-control li a {
    display:block;
    width:12px;
    height:0;
    padding-top:12px;
    background-image:url("../../../images/index/slider_point.png");
    background-position:0 0;
    float:left;
    overflow:hidden;
}

.slider-control li.current a {
    background-position:0 -12px;
}


#modal-index-banner {
    height: 150px;
    padding: 20px 40px 15px 40px;
}
#modal-index-banner ul {

}
#modal-index-banner ul li {
    margin: 0 4px;
    float: left;
    text-align: center;
}

.modal-index-news{
    margin-left: 50px;
    margin-right: 40px;
}
.modal-index-news-vline {
    margin: 10px 40px 10px 50px;
    height: 2px;
    background: #DDDDDD;
}
.modal-index-news, .modal-index-news-left, .modal-index-news-right {
    height: 105px;
}
.modal-index-news-left {
    width: 478px;
    float: left;
}
.modal-index-news-right {
    width: 225px;
    float: left;
}

#modal-index-company-news {
    background: #b3a287;
}
#modal-index-login {
    background: #84aea4;
    background-image: 
}
#modal-index-industry-news {

}
#modal-index-contactus {

}