/*
    Document   : common
    Created on : 2013-1-30, 16:09:56
    Author     : Lincong <lincong1987@gmail.com>
    Description:
        common modal
*/
/* 通用 */
.clearfix {
    clear: both;
    display: block;
}
.container {
    width: 797px;
    margin: 0 auto;
}
.wrapper {
    background: #8290b5;
}

/* 模块 */
.modal-header {
    height: 110px;
    background: #FFFFFF;
}
.modal-main {

}
.modal-main .container {
    background: #FFFFFF;
}

.modal-footer, .modal-footer .container {
    height: 42px;
}
.modal-footer .container {
    background: #84aea4;
}